.idea/*
*.iml
package-lock.json
node_modules/
target/
version.txt
web/.settings/
web/.project
web/.classpath
storage/
public/.settings/
public/.classpath
public/.project
document/@log.dir@/
document/.settings/
document/.project
document/.classpath
developer/.settings/
core/.settings/
developer/.classpath
developer/.project
core/.classpath
core/.project
.settings/
.project
public/src/main/webapp/admin-new/json/payment/returnCode0.json
public/src/main/webapp/admin-new/json/payment/returnCode.json
admin/.classpath
/web/src/main/resources/jmeter.log
npm-debug.log
webapp-dev/react/src/lib/api/auth.config.js

web/hs_err_pid20376.log
api/replay_pid19636.log
api/hs_err_pid19636.log
public/src/main/webapp/admin-new/gulpfile11.js
public/src/main/webapp/admin-new/gulpfile.babel1.js
.vscode
